.DVDDetails {
  padding: 0 1rem 1rem 1rem;
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.return {
  color: blue;
  font-size: 1.5rem;
  background-color: white;
  border: none;
  padding-left: 0.5rem;
}

.cover {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: auto;
}
