.button-connexion {
  padding-right: 1rem;
  background-color: white;
  display: block;
  margin: auto;
  border: none;
  width: 5rem;
}

.navA {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 11px;
  border: 2px solid blue;
  padding: 0.3rem 1.2rem;
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.MVLogo {
  margin-left: 0.5rem;
  max-width: 70vw;
}

.personIcon {
  width: 1.5rem;
  height: auto;
  margin: auto;
  background-color: #000;
  color: white;
  border-radius: 20px;
}

.personIcon:hover {
  background-color: blue;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
}

.mainHeader {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

.menuConnected {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 10px;
}

.navLi {
  font-size: 0.8em;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  margin: 2px;
  padding: 10px;
}

.connectedB {
  font-size: 0.8em;
  background-color: inherit;
  color: inherit;
  border: none;
}

.connect {
  font-size: 0.6em;
  color: blue;
}

.connectOn {
  font-size: 0.8em;
  color: blue;
  margin-right: 1rem;
}

.Disconnect {
  font-size: 10px;
  font-weight: bold;
  color: black;
  padding: 0.4rem 0.5rem;
  border: 2px solid blue;
  background-color: white;
  margin-top: 1rem;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
 a {
  text-decoration: none;
 }
