.listVideo {
  display: grid;
  justify-items: center;
}

.searchDVD {
  width: 15rem;
  text-align: center;
  border: 0;
  border-bottom: 1px solid blue;
  padding: 0.5rem;
}

.searchT {
  font-size: smaller;
  margin-bottom: 0.5rem;
}

.VideoList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
