.cover {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: auto;
}

.cardsVideo {
  max-width: 300px;
  margin: 5px;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cardsVideo img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 1rem;
}

.cardsVideo h2 {
  font-size: 1.2rem;
  margin-top: 1rem;
}

li {
  list-style-type: none;
  display: inline-block;
  box-sizing: border-box;
}
